*{ 
	margin: 0; 
	padding: 0; 
}
.container {
	margin: 0 auto;
	width: 50%;
}
h1{
	padding:20px;
	margin-right:150px;
	color:#000;
	text-align: center;
	font:bold 45px Arial;
}
label{
	font:normal 0.8em Arial;	
}
input[type=text],input[type=email],input[type=password]{
	margin-bottom: 20px;
	margin-top: 5px;
	width: 500px;
	height: 35px;
	padding:0px 10px;
	border-radius: 5px;
	box-shadow:none;
	border:1px solid #d3d3d3;
}
input[type=button]{
	margin-bottom: 20px;
	width: 150px;
	height: 40px;
	border-radius: 5px;
	background-color:#4169E1;
	border:none;
	box-shadow: none;
	color:#fff;
	font:1.0em Arial;	
}